body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-color: #141519;
    position: fixed;
}
.card {
    height: 50vmin;
    width: 50vmin;
    margin: auto;
    background: radial-gradient(circle at top, #232A34, #171E28);
    border-radius: 5vmin;
    padding: 5vmin;
}
#card-1 {
    display: grid;
    position: fixed;
}
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 7vmin;
    width: 7vmin;
    background-color: #262F38;
    border-radius: 50%;
}
.text {
    font-family: 'Overpass', sans-serif;
}
.title {
    font-size: 4vmin;
    color: white;
    margin-bottom: -2vmin;
}
.title2 p {
    margin: 3vmin 0 1vmin 0;
}
.subtitle {
    font-size: 2.2vmin;
    line-height: 3.5vmin;
    color: hsl(216, 12%, 54%);
}
.subtitle.text p {
    margin: 0;
}
.sub2 {
    text-align: center;
}
.grades {
    display: grid;
    grid-template-columns: repeat(5, 7vmin);
    grid-gap: 3.75vmin;
    padding: 3.3vmin 0 4vmin 0;
}
input[type=radio] {
    display: none;
}
label {
    cursor: pointer;
    user-select: none;
    font-size: 2.5vmin;
    color: hsl(216, 12%, 54%);
}
input[type="radio"]:hover + label {
    background-color: hsl(25, 97%, 53%);
    color: white;
}
input[type="radio"]:checked + label {
    background-color: hsl(217, 12%, 63%);
    color: white;
}
.submission {
    cursor: pointer;
    height: 7vmin;
    width: 100%;
    border: none;
    border-radius: 5vmin;
    background-color: hsl(25, 97%, 53%);
    font-size: 2.5vmin;
    line-height: 7vmin;
    letter-spacing: 0.2vmin;
    color: white;
}
.submission:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}
#card-2 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.rate-selected {
    align-self: center;
    display: grid;
    place-items: center;
    width: 30vmin;
    height: 5vmin;
    background-color: #262F38;
    border-radius: 5vmin;
}
.rate-selected p {
    margin: 0.5vmin 0 0 0;
    font-size: 2.3vmin;
    color: hsl(25, 97%, 53%);
}
@media screen and (max-width: 375px){
    .card {
        height: 75vmin;
        width: 75vmin;
    }
    .circle {
        height: 10.5vmin;
        width: 10.5vmin;
    }
    .title {
        font-size: 6vmin;
        margin-bottom: -3vmin;
    }
    .title2 p {
        margin: 4.5vmin 0 1.5vmin 0;
    }
    .subtitle {
        font-size: 3.3vmin;
        line-height: 5.25vmin;
    }
    .grades {
        grid-template-columns: repeat(5, 10.5vmin);
        grid-gap: 5.625vmin;
        padding: 4.95vmin 0 6vmin 0;
    }
    label {
        font-size: 3.75vmin;
    }
    .submission {
        height: 10.5vmin;
        font-size: 3.75vmin;
        line-height: 10.5vmin;
        letter-spacing: 0.3vmin;
    }
    .rate-selected {
        width: 45vmin;
        height: 7.5vmin;
    }
    .rate-selected p {
        margin: 0.75vmin 0 0 0;
        font-size: 3.45vmin;
    }
}
